.Home-container {
  flex-direction: row;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Feed-flex {
  flex: 3;
}

.Friends-header {
  font-family: "Readex Pro";
  color: var(--darkpurple);
  font-size: 3.5vh;
  font-weight: 500;
}

.Friends-flex {
  padding: 0 4vh;
  flex: 2;
  min-width: 20vw;
  background-color: var(--white);
}
