.Home-container {
  flex-direction: row;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Feed-flex {
  flex: 4; /* Increased from 3 to 4 */
  /* min-width: 60vw; */
  /* width: 60vw; */
  background-color: var(--grey);
}

.Friends-header {
  font-family: "Readex Pro";
  color: var(--darkpurple);
  font-size: 3.5vh;
  font-weight: 500;
}

.Friends-flex {
  padding: 3vh 4vh;
  flex: 1;
  /* max-width: 200px; Example maximum width */
  background-color: var(--white);
}
