/* Landing.css */

* {
  margin: 0;
  padding: 0;
}

.wood img {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;

  left: 0;
  top: 0;
  position: fixed;
  z-index: 0;
  background-size: cover;
}
.welcome-text {
  color: var(--darkpurple);
  font-family: "Special Elite";
  font-weight: 600;
  font-size: 5vh;
}
.start-text {
  color: var(--darkpurple);
  font-family: "Special Elite";
  font-weight: 600;
  font-size: 4vh;
  margin-bottom: 4vh;
}
.front-subtext {
  color: var(--darkpurple);
  font-family: "Readex Pro";
  font-weight: 500;
  font-size: 2vh;
}
.login-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* or a fixed height, depending on your design */
  width: 100%; /* or a fixed width */
}
.logo {
  margin-top: 2vh;
  margin-bottom: 4vh;
  width: 50vh;
}

ul {
  list-style: none;
}

a {
  color: #2c3d50;
  text-decoration-line: none;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  /* background-color: blue; */
  /* padding: 2vh; */
}

.book {
  /* position: center; */
  width: 60vh;
  height: 80vh;
  z-index: 1;
  /* align-self: center; */
  /* justify-content: center; */
  /* perspective: 1000px; */
  transform-style: preserve-3d;
}

.book-icon img {
  width: 110px;
  height: 40px;
  margin-top: 5x;
}

.writer img {
  float: left;
  width: 30px;
  height: 40px margin-left 30px;
  margin-top: 5px;
}

.title {
  font-size: 13px;
  font-weight: bolder;
  padding-top: 20px;
  color: whitesmoke;
}

.heading {
  color: white;
  margin-top: 10px;
}

.sub-title {
  color: rgb(226, 201, 201, 0.8);
  margin-top: 10px;
  font-size: 14px;
}

.writer p {
  padding-top: 5ox;
  text-align: left;
  float: left;
  color: rgb(255, 255, 255, 0.9);
  margin-top: 2px;
}

.writer i {
  color: rgb(241, 232, 232, 0.8);
}

.copyright {
  float: left;
  padding-top: 5px;
  margin-left: 28%;
  color: rgb(202, 194, 194, 0.6);
  font-size: small;
}

.front li {
  background: linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
  border-radius: 15px;
}

.back li {
  /* background: linear-gradient(to bottom, var(--darkpurple), var(--lightpurple)); */
  background: var(--lightpurple);
  border-radius: 15px;
  width: 97.5% !important;
  padding-left: 2vh;
  padding-right: 2vh;
}

.page > li {
  background: -webkit-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
  background: linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
  box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.1), inset -1px 0px 1px rgba(150, 150, 150, 0.2);
  border-radius: 5px 15px 15px 5px;
  width: 100%;
  height: 100%;
  transform-origin: left center;
}

.front {
  transform: rotateY(-16deg) translateZ(8px);
  /* create rounded corners */
  border-radius: 15px;
}

.page li:nth-child(1) {
  transform: rotateY(-15deg);
}

.page li:nth-child(2) {
  transform: rotateY(-14deg);
}

.page li:nth-child(3) {
  transform: rotateY(-13deg);
}

.page li:nth-child(4) {
  transform: rotateY(-12deg);
}

.page li:nth-child(5) {
  transform: rotateY(-11deg);
}

.back {
  transform: rotateY(-10deg) translateZ(-8px);
}

.front,
.back,
.front li,
.back li {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  border-radius: 15px;
}
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  border-radius: 15px;
}

.front,
.back {
  transform-origin: 0% 100%;
}

.front {
  transition: all 0.8s ease, z-index 0.6s;
}

.front li:last-child {
  transform: rotateY(180deg) translateZ(2px);
}

.page,
.page > li {
  position: absolute;
}

.page {
  /* min-width: 95%; */
  /* width: 100%; */
  /* height: 98%; */
  z-index: 1;
}

.page li {
  transition-duration: 0.8s;
}

.book:hover .front {
  transform: rotateY(-150deg) translateZ(0);
}

.book:hover .page li:nth-child(1) {
  transform: rotateY(-16deg);
  transition: 1.4s;
}

.book:hover .page li:nth-child(2) {
  transform: rotateY(-18deg);
  transition: 1.4s;
}
.book:hover .page li:nth-child(3) {
  transform: rotateY(-135deg);
  transition: 1.4s;
}

.book:hover .page li:nth-child(4) {
  transform: rotateY(-140deg);
  transition: 1.2s;
}

.book:hover .page li:nth-child(5) {
  transform: rotateY(-145deg);
  transition: 1s;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  height: 100vh;
  background-color: #754c24;
  width: 100vw;
}

.frontcover {
  z-index: 2;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  justify-content: center; /* This will center the items vertically */

  align-items: center;
  /* position: absolute; */
  /* background: linear-gradient(to bottom, var(--darkpurple), var(--lightpurple)); */
  background: var(--lightpurple);
  /* background: linear-gradient(to bottom, var(--white), var(--lightpurple)); */

  height: 100%;
  width: 100%;
  border-radius: 5px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 2;
  padding-left: 2vh;
  padding-right: 2vh;
}

.btn {
  display: inline-block;
  text-decoration: none;
  margin-top: 120px;
  padding: 8px 12px;
  font-weight: bolder;
  background: rgb(217, 216, 218);
  border-radius: 4px;
  box-shadow: -3px -3px 5px 0px #ffffffa6, 3px 3px 5px 0px #0000004a;
  text-align: center;
  transition: color 0.3s, border-color 0.3s;
}

.btn:hover {
  box-shadow: -3px -3px 5px 0px #ffffffa6 inset, 3px 3px 5px 0px #0000004a inset;
  color: rgb(39, 7, 246);
}
