.Profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 2vh;
}

.Friends-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 0px;
}

.Friends-style {
  color: var(--darkpurple);
  flex: 1;
  font-size: 4vh;
  font-family: "Readex Pro";
  text-align: center;
  margin: 0 5px;
  font-weight: bold;
}

.Profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
  height: 30vh;
  padding: 2vh;
  margin-left: 5vh;
}

.Profile-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 1;
  min-height: 120px;
  top: 0px;
  margin-right: 5vh;
}

.edit-profile-btn {
  margin-top: 4vh;
}

.add-book-btn {
  margin-left: 22vw;
  margin-top: 10vh;
  margin-bottom: 2vh;
}

.Profile-image {
  width: 22vh;
  height: auto;
  z-index: 1;
}

.Picture-frame {
  position: absolute;
  width: 24vh;
  height: auto;
  z-index: 2;
}

.Profile-bio {
  font-family: "Readex Pro";
  color: var(--darkpurple);
  font-weight: 500;
  margin-top: 10px;
  font-size: 3vh;
}
.Profile-background {
  height: 57vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--grey);
  z-index: 0;
}

.Profile-floor {
  height: 43vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--darkpurple);
  z-index: 0;
}
/* 
body {
  background-color: var(--grey);
} */

.Profile-name {
  font-family: "Readex Pro";
  color: var(--darkpurple);
  font-size: 8vh;
  margin-bottom: 5px;
}

.table-link img {
  width: 18vw;
  height: auto;
}

.shelf-link {
  z-index: 2;
  margin-bottom: 0vh;
}

.box-link,
.table-link {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shelf-link img {
  width: 18vw;
  height: auto;
}

.box-link {
  margin-bottom: 15vh;
}

.box-link img {
  width: 18vw;
  height: auto;
}

.subpage-link {
  margin-top: 5vh;
}

.shelf-shift {
  margin-top: 4vh;
}
.flex-container {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 2;
}

.outermost-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  bottom: 0;
  z-index: 2;
}

.left-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 2;
  z-index: 1;
  width: 100%;
}

.bottomleft-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex: 3;
}

.right-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-height: 90vh;
  z-index: 1;
}

.shelf-link,
.box-link,
.table-link {
  position: relative;
  text-decoration: none;
}

.flex-container img {
  width: 220px;
}
.table-link img {
  width: 250px;
  height: auto;
}

.shelf-link {
  position: absolute;
  bottom: 130px; /* Align with the bottom of Profile-floor */
  right: 120px; /* Align to the right side of the viewport */
  z-index: 1; /* Ensure it overlaps the floor (adjust as necessary) */
}

.shelf-link img {
  width: 250px; /* Adjust as needed */
  height: auto;
}
