.Profile-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 60%;
  /* margin-top: 2vh; */
  flex: 2;
  /* background-color: green; */
  flex-grow: 100;
  /* padding: 5vh; */
}

.topleft-flex {
  width: 100%;
  height: 100%;
  flex-grow: 100;
  flex: 12;
  /* background-color: red; */
}
.Friends-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 3vh;
}

.Friends-style {
  color: var(--darkpurple);
  flex: 1;
  font-size: 3vh;
  font-family: "Readex Pro";
  text-align: center;
  /* margin: 0 1vh; */
  font-weight: 550;
}

.Profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
  height: 30vh;
  padding: 2vh;
  margin-left: 5vh;
}

.Profile-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 1;
  min-height: 120px;
  top: 0px;
  margin-right: 5vh;
}

.edit-profile-btn {
  margin-top: 4vh;
}

.add-book-btn {
  margin-left: 22vw;
  margin-top: 10vh;
  margin-bottom: 2vh;
}

.Profile-image {
  width: 22vh;
  height: auto;
  z-index: 1;
}

.Picture-frame {
  position: absolute;
  width: 24vh;
  height: auto;
  z-index: 2;
}

.Profile-bio-container {
  flex: 1;
  margin-top: 3vh;
  max-width: 60%;
  align-items: center;
  justify-content: center;
  display: flex;
  /* background-color: red; */
}

.Profile-bio {
  font-family: "Readex Pro";
  color: var(--darkpurple);
  /* position: relative; */

  font-weight: 400;
  font-size: 3vh;
  text-align: center;
}

.Profile-background {
  height: 57vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--grey);
  z-index: 0;
}

.Profile-floor {
  height: 43vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--darkpurple);
  z-index: 0;
}
/* 
body {
  background-color: var(--grey);
} */

.Friend-count {
  font-weight: 500 !important;
}
.Profile-name {
  font-family: "Readex Pro";
  color: var(--darkpurple);
  font-size: 6vh;
  font-weight: 650;
  margin-bottom: 0vh;
  text-align: center;
  /* :center ; */
}

.Username-style {
  color: var(--darkpurple);
  font-size: 4vh;
  font-family: "Readex Pro";
  font-weight: 400;
  margin-top: 0vh;
}

.table-link img {
  width: 18vw;
  height: auto;
}

.shelf-link {
  z-index: 2;
  margin-bottom: 0vh;
}

.box-link,
.table-link {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shelf-link img {
  height: 50vh;
  /* width: 18vw; */
  /* height: auto; */
}

.box-link {
  margin-bottom: 10vh;
}

.box-link img {
  width: 40vh;
  height: auto;
}

.subpage-link {
  margin-top: 5vh;
}

.shelf-shift {
  margin-top: 4vh;
}
.flex-container {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 2;
}

.outermost-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  bottom: 0;
  z-index: 2;
}

.left-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 2;
  z-index: 1;
  /* width: 100%; */
  /* height: 100%; */
  /* flex-grow: 100%; */
}

.bottomleft-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex: 10;
  height: 50vh;
  margin-bottom: 3vh;
  /* background-color: pink; */
}

.right-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-height: 90vh;
  z-index: 1;
}

.shelf-link,
.box-link,
.table-link {
  position: relative;
  text-decoration: none;
  z-index: 1;
}

.flex-container img {
  width: 220px;
}
.table-link img {
  width: 40vh;
  height: auto;
}
