@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Poppins:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--darkpurple);
}

.header {
  width: 100%;
  height: 20vh;
  padding-top: 4vh;
  color: var(--white);
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
}

.row2 {
  text-align: center;
}
.row2 h2 {
  font-size: 7vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-family: "Special Elite";
  font-weight: 500;
}
.row2 img {
  margin-top: 30px;
  width: 250px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search input {
  outline: 0;
  border: 0;
  width: 30vw;
  height: 5vh;
  padding: 1vh 2vh;
  font-size: 3vh;
  font-family: "Readex Pro";
  font-weight: 400;
  color: var(--darkpurple);
}
.search button {
  outline: none;
  border: none;
  height: 35px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  padding: 1.5vw 3vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 2vw;
  box-sizing: border-box;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--lightpurple);
  border-radius: 5px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 1vw;
  outline: none;
  text-align: center;
  height: 27vw;
  width: 18vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(1.07);
  background-color: var(--white);
}
.card img {
  height: 20vw;
  width: 14vw;
}

.top {
  flex: 1;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  width: 100%;
}

.thumbnail-container {
  flex: 6;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0.7vw 0vw;
}
.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Number of lines you want */
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.3vw;
  font-family: "Readex Pro";
  color: var(--darkpurple);
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.title-container {
  flex: 3;
  height: 100%;
  margin-top: 3vh;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttons-container {
  flex: 0.25;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0vh 2vh;
  width: 80%;
  height: 100%;
}
.btn-subcontainer {
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.booktitle {
  color: var(--darkpurple);
  font-family: Readex Pro;
  font-weight: bold;
  text-align: center;
  font-size: 5vh;
}

.author {
  color: var(--darkpurple);
  font-family: Readex Pro;
  font-weight: 500;
  text-align: center;
  font-size: 4vh;
  margin-top: 1vh;
}
.description-container {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: 5vh;
}
.desc-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7; /* Number of lines you want */
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 2.5vh;
  font-family: "Readex Pro";
  color: var(--darkpurple);
  font-weight: 600;
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.close-btn {
  margin-right: 1vh;
  margin-top: 1vh;
}

.overlay {
  min-height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1001;
  background-color: var(--darkpurple);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay-inner {
  flex: 10;
  transform: translateZ(0);
  width: 100vw;
  height: 100vh;
  padding: 1.5rem;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 9vh;
}

.close-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: 100%;
  width: 100%;
  /* background-color: red; */
}
.overlay-inner .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  outline: none;
  border: none;
  font-size: 17px;
  background-color: transparent;
}
.overlay-inner .inner-box {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.overlay-inner .inner-box img {
  margin-right: 20px;
  width: 150px;
  height: 200px;
}
.overlay-inner .inner-box h3 {
  margin-top: 10px;
  color: green;
}
.overlay-inner .inner-box h4 {
  color: blue;
}
.overlay-inner .inner-box button {
  outline: none;
  border: none;
  width: 100px;
  border-radius: 5px;
  background-color: #24a0ed;
  color: white;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
}
.overlay-inner .description {
  margin-top: 2rem;
  text-align: justify;
  font-size: 13px;
}

.BookModal .ul {
  list-style: none;
}

.BookModal .a {
  color: #2c3d50;
  text-decoration-line: none;
}

.BookModal .book {
  position: relative;
  width: 60vh;
  height: 80vh;
  transform-style: preserve-3d;
}

.book-icon img {
  width: 20vw;
  height: auto;
  max-height: 75vh;
  margin-top: 5x;
}

.BookModal .img {
  float: left;
  width: 30px;
  height: 40px margin-left 30px;
  margin-top: 5px;
}

.BookModal .info {
  font-size: 13px;
  font-weight: bolder;
  padding-top: 20px;
  color: whitesmoke;
}

.BookModal .heading {
  color: white;
  margin-top: 10px;
}

.BookModal .sub-title {
  color: rgb(226, 201, 201, 0.8);
  margin-top: 10px;
  font-size: 14px;
}

.BookModal .writer p {
  padding-top: 5ox;
  text-align: left;
  float: left;
  color: rgb(255, 255, 255, 0.9);
  margin-top: 2px;
}

.BookModal .writer i {
  color: rgb(241, 232, 232, 0.8);
}

.BookModal .copyright {
  float: left;
  padding-top: 5px;
  margin-left: 28%;
  color: rgb(202, 194, 194, 0.6);
  font-size: small;
}

.BookModal .front li {
  background: white;
  border-radius: 15px;
}

.BookModal .back li {
  background: var(--lightpurple);
  border-radius: 15px;
  width: 97.5% !important;
  padding-left: 2vh;
  padding-right: 2vh;
}

.BookModal .page > li {
  background-color: var(--white);
  border-radius: 5px 15px 15px 5px;
  width: 100%;
  height: 100%;
  transform-origin: left center;
}

.BookModal .front {
  transform: rotateY(-16deg) translateZ(8px);
}

.BookModal .page li:nth-child(1) {
  transform: rotateY(-15deg);
}

.BookModal .page li:nth-child(2) {
  transform: rotateY(-14deg);
}

.BookModal .page li:nth-child(3) {
  transform: rotateY(-13deg);
}

.BookModal .page li:nth-child(4) {
  transform: rotateY(-12deg);
}

.BookModal .page li:nth-child(5) {
  transform: rotateY(-11deg);
}

.back {
  transform: rotateY(-10deg) translateZ(-8px);
}

.BookModal .front,
.BookModal .back,
.BookModal .front li,
.BookModal .back li {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.BookModal .page {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.BookModal .front,
.BookModal .back {
  transform-origin: 0% 100%;
}

.BookModal .front {
  transition: all 0.8s ease, z-index 0.6s;
}

.BookModal .front li:last-child {
  transform: rotateY(180deg) translateZ(2px);
}

.BookModal .page,
.BookModal .page > li {
  position: absolute;
}

.BookModal .page {
  z-index: 1;
}

.BookModal .page li {
  transition-duration: 0.8s;
}

.BookModal .book:hover .front {
  transform: rotateY(-150deg) translateZ(0);
}

.BookModal .book:hover .page li:nth-child(1) {
  transform: rotateY(-16deg);
  transition: 1.4s;
}

.BookModal .book:hover .page li:nth-child(2) {
  transform: rotateY(-18deg);
  transition: 1.4s;
}
.BookModal .book:hover .page li:nth-child(3) {
  transform: rotateY(-135deg);
  transition: 1.4s;
}

.BookModal .book:hover .page li:nth-child(4) {
  transform: rotateY(-140deg);
  transition: 1.2s;
}

.BookModal .book:hover .page li:nth-child(5) {
  transform: rotateY(-145deg);
  transition: 1s;
}

.frontcover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 2;
  padding-left: 2vh;
  padding-right: 2vh;
}

.BookModal .btn {
  display: inline-block;
  text-decoration: none;
  margin-top: 120px;
  padding: 8px 12px;
  font-weight: bolder;
  background: rgb(217, 216, 218);
  border-radius: 4px;
  text-align: center;
  transition: color 0.3s, border-color 0.3s;
}

.BookModal .btn:hover {
  color: rgb(39, 7, 246);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.add-more-btn {
  margin-left: 2vh;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
