.list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.outer-flex {
  background-color: var(--grey);
  height: 100%;
  padding: 0vh 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-title {
  font-family: "Readex Pro";
  color: var(--darkpurple);
  font-weight: 600;
  font-size: 6vh;
}

.back-container {
  background-color: var(--grey);
  padding: 3vh;
}

.back-btn {
  position: absolute;
  left: 2vh;
  top: 2vh;
  z-index: 6;
}
