/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

/* Imported font for rest of page */
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&family=Special+Elite&display=swap");
:root {
  /* Below is the s(H)elfie color palette */
  --darkpurple: #5b0a78;
  --lightpurple: #e6ceff;
  --white: #fff;
  --grey: #dddddd;
  --brown: #754c24;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}
.dark-btn {
  font-family: "Readex Pro";
  font-weight: bold;
  background-color: var(--darkpurple);
  color: var(--white);
  border: none;
  font-size: 3vh;
  border-radius: 15px;
  padding: 6px;
  cursor: pointer;

  transition: color 0.3s ease;
  transition: background-color 0.3s ease;
}
.dark-btn:hover {
  background-color: var(--lightpurple);
  color: var(--darkpurple);
}

.light-btn {
  font-family: "Readex Pro";
  font-weight: bold;
  background-color: var(--lightpurple);
  color: var(--white);
  border: none;
  font-size: 3vh;
  cursor: pointer;

  border-radius: 15px;
  padding: 6px;
  transition: color 0.3s ease;
  transition: background-color 0.3s ease;
  text-decoration: none !important;
}

.light-btn:hover {
  background-color: var(--white);
  color: var(--darkpurple);
}
.white-btn {
  font-family: "Readex Pro";
  font-weight: bold;
  background-color: var(--white);
  color: var(--darkpurple);
  cursor: pointer;

  border: none;
  font-size: 3vh;
  border-radius: 15px;
  padding: 6px;
  transition: color 0.3s ease;
  transition: background-color 0.3s ease;
  text-decoration: none !important;
}

.white-btn:hover {
  background-color: var(--lightpurple);
  color: var(--white);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Readex Pro";
  font-weight: 300;
}

form {
  flex-grow: 1;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: bold;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}
