/* Imported handwritten font seen in logo */
/* @import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap"); */

.NavBar-container {
  position: relative;
  z-index: 1000;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--s) var(--m) var(--s) var(--m);
  background-color: var(--lightpurple);
  height: 7vh;
}

.NavBar-title {
  flex: 4;
  flex-grow: 100;
  /* background-color: red; */
}

.NavBar-title img {
  height: 5.5vh;
  margin-top: 4px;
}

.NavBar-logoutContainer {
  display: flex;
  flex: 4;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 100;
  /* background-color: green; */
}

.NavBar-linkContainer {
  display: flex;
  flex: 4;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-grow: 100;
  /* background-color: blue; */
}

.active img {
  fill: var(--darkpurple);
  opacity: 1;
}

.NavBar-link img {
  height: 6.2vh;
  opacity: 0.5;
  /* flex: 1; */
  transition: opacity 0.3s ease;
  transition: transform 0.3s ease;
}

.NavBar-link:hover img {
  transform: scale(1.2);
}

.NavBar-link:hover img,
.NavBar-link:active img,
.NavBar-link.active img {
  opacity: 1;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}

.logout {
  font-family: "Readex Pro";
  font-weight: bold;
  background-color: var(--darkpurple);
  color: var(--white);
  border: none;
  font-size: 3vh;
  border-radius: 15px;
  padding: 6px;
  cursor: pointer;
  /* padding: px; Adjust padding to your liking */
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
  margin-left: var(--m);
}
.logout:hover {
  background-color: var(--white);
  color: var(--darkpurple);
}
